body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}
* {
  box-sizing: border-box;
}

h1 {
  position: absolute;
  width: 100vw;
  text-align: center;
  margin: 0 0;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.5em;
  font-weight: bold;
  font-size: 36px;
}

h2 {
  color: white;
  margin: 0 0;
  padding: 0.5em;
}

footer {
  font-size: 12px;
  bottom: 1vh;
  position: absolute;
  width: 100vw;
  color: #7e7e7e;
  text-align: center;
}
a {
  text-decoration: none;
  color: #7e7e7e;
}
a:hover {
  color: #ffffff;
}
.annotation {
  position: absolute;
  top: 20vh;
  left: 10vw;
  z-index: 1;
  margin-left: 15px;
  margin-top: 15px;
  padding: 1em;
  width: 250px;
  color: rgb(168, 165, 165);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.5em;
  font-size: 16px;
  visibility: hidden;
}

#number {
  position: absolute;
  z-index: -1;
}

.info {
  position: absolute;
  top: 20vh;
  right: 5vw;
  color: rgb(168, 165, 165);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.5em;
  width: 200px;
  padding: 1em;
}

@media screen and (max-width: 800px) {

    h1 {
      font-size: 30px;
      height: 20vh;

    }
    .info {
        right: 0;
        left: 0;
        top: 21vh;
        width: 100vw;
        font-size: 12px;
        padding: 0.5em 1em;

      }
      .info p {
        padding: 0.5em;
        margin: 0;
      }
      footer{
        bottom: 1vh;
      }

      .annotation {
        top: 40vh;
        left: 5vw;
        width: 60vw;
        font-size: 12px;
        visibility: hidden;
      }
}

#loading {
  position: absolute;
  margin: 0 auto;
  top: 50vh;
  background: none;

}